body {
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: #2d2d2d;
    color: white;
    font-size: 20px;
    width:200px;
}

input[type="text"] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #242424;
    color: white;
    font-size: 20px;
}

p{
    margin-left:15%;
}